// color-name
$green: #27b096;
$darkgreen: rgba(39, 176, 150, 0.3); // green 30%
$springgreen: #49c6ae;
$cyan: #8bf4ee;
$grassgreen: #6bae61;
$palegreen: #c0f69e;
$cyangreen: #47a4a4;
$lightcyan: #ebfcf4;

$black: #2e3646;

$gray: #808080;
$lightdark: #525456;
$lightgray: #cbcbcb;
$darkgray: #5f6d7e;
$slategray: #8d99a9;
$silver: #dcdcdc;

$red: #ff3e3e;
$warn: #ff3e3e;
$lightpink: #fd9fff;
$hotpink: #f023fd;
$pink: #f4599a;

$white: #fff;
$whitesmoke: #f8f9fb;
$snow: #f4f4f4;
$ghostwhite: #f1f3f4;
$background-white: rgba(255, 255, 255, 0.8);

$orange: #ffce94;
$darkorange: #ff8c4b;

$blue: #5a96dc;
$yellow: #fe5;

$background: rgba(39, 176, 150, 1);