@import "./breakpoint";
@import "../component/grid";

/* 撐出畫面 */
html,body{
  height: 100%;
}

/* body 最大 1440px 、置中*/
main,.main {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 0px 75px;

  @include breakpoint($grid-breakpoints, "md") {
    padding: 0px 20px;
  }
}
main {
  padding: 70px 75px;

  @include breakpoint($grid-breakpoints, "md") {
    padding: 70px 20px;
  }
}

/* page title*/
.title_space {
  padding-bottom: 45px;
}

/* page Bottom Btn*/
/* more、page number、prev&next*/
.pageBottom_btn_space {
  padding: 24px 0;
}
