<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /tgd104/g1/dist/
RewriteRule ^/tgd104/g1/dist/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /tgd104/g1/dist/index.html [L]
</IfModule>