.section_right{
    @media screen and (max-width: 1110px){
       padding:10px 20px;
      }



    section {
        text-align: left;
        margin: 20px 0 30px 0;

        &>h5 {
            margin: 25px 0 15px 0;
        }

        .savebtn {
            margin: 10px 0;
            width: 90px;
        }

        .up_banner{
            margin: 20px 0;
            // border: 1px dashed $silver;

        }

        .pic-upload {
            #dropzone {
                border: 4px dashed $silver;
                width: 100%;
                min-height: 250px;
                text-align: center;
                position: relative;


                .uploadpic {
                    &>div {
                        color: $green;
                        font-size: 3em;
                        cursor: pointer;
                        margin-top: 40px;
                    }

                    &>input {
                        display: none;
                    }
                }

                &>h5 {
                    margin: 10px 0;
                }

                &>h6 {
                    margin: 10px 0;
                    color: $gray;
                }

                &>p {
                    margin: 10px 0;
                    color: $silver;
                }

                &>img {
                    object-fit: scale-down;
                    border: none;
                    outline: none;
                    position: absolute;
                    width: 0;
                    top: 0;
                }
            }

            &>h6 {
                margin: 20px 0;
                color: $green;
            }

        }

        .uploading {
            display: flex;
            gap: 30px;
            .uploadpic {
                .btn-10-s{
                    line-height: 40px;
                }
                &>input {
                    display: none;
                }
            }

            .pic-area {
                &-box {
                    width: 100%;
                    min-height: 50px;
                    border: 1px solid $silver;

                    &>img {
                        object-fit: scale-down;
                        border: none;
                        outline: none;
                        // position: absolute;
                        width: 0;
                        height: 0;
                    }

                    .trash {
                        margin-left: calc(100% - 30px);
                        border: none;
                        background-color: $white;
                        color: $gray;
                        cursor: pointer;
                    }
                }
                &>p{
                    color: $slategray;
                    font-size: 14px;
                    margin: 3px 0;
                }

            }

        }

        .frame {
            margin: 10px 0;
            padding: 10px;
            border: 2px dashed $darkgreen;
            // background-color: $white;
            h5{
                margin-bottom: 20px;
            }
            .uploading_2 {
                display: flex;
                flex-direction: column;

                .upload_area {
                    display: flex;
                    gap: 5px;

                    .uploadpic {
                        .btn-10-s{
                            line-height: 40px;
                        }
                        &>input {
                            display: none;
                        }
                    }

                    .pic-area {
                        width: 100%;
                        &-box {
                            width: 100%;
                            min-height: 50px;
                            border: 1px solid $silver;

                            &>img {
                                object-fit: scale-down;
                                border: none;
                                outline: none;
                                // position: absolute;
                                width: 0;
                                height: 0;
                            }

                            .trash {
                                margin-left: calc(100% - 30px);
                                border: none;
                                background-color: $white;
                                color: $gray;
                                cursor: pointer;
                            }
                        }
                        &>p{
                            color: $slategray;
                            font-size: 14px;
                            margin: 3px 0;
                        }

                    }
                }

            }

        }

    }
    .qabutton {
        font-family: "jfopen";
        background-color: transparent;
        color: $black;
        cursor: pointer;
        padding-top: 10px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 1.3em;
      }
      
      .content {
        margin-top: 10px;
        padding: 0 18px;
        // background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        .f-label{
            font-size: 1.1em;
        }
        .qalabel{
            display: flex;
            align-items: start;
            margin-top: 20px;
          }
      }
      .qabutton:after {
        content: '\f229';
        font-family:"bootstrap-icons" ;
        font-size: 22px;
        color: $green;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\f235";
      }


    }
.gender {
    align-items: flex-end;
    display: flex;

    .g-others {
        max-width: 100px;
    }
    .f-checkbox{
        margin: 10px 0 0 0;
    }
}

.newuploading {
    display: flex;
    gap: 10px;
  
    .uploadbtn{
        margin: 3px 0 0;
        height: 38px;
        position: relative;
        line-height: 38px;
        font-size: 14px;
        color: $green;
        background-color: $white;
        border-radius: 10px;
        padding: 0 20px;
        // margin-bottom: 1em;
        display: inline-block;
        border: 1px solid $green;
        text-align: center;
        white-space: nowrap;
        transition: color .25s,border-color .25s,background-color .25s;
        cursor: pointer;
        &:hover{
            color: $green;
            background-color: $darkgreen;
            border: 1px solid $darkgreen;
        }
        &>span{
            font-family: 'jfopen';
            font-size: 1.1em;
            &>i{
                margin-right: 5px;
            }
        }
        &>input{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 0;
            cursor: pointer;
            opacity: 0;
        }
    }
    .pic-area {
        &-box {
            margin: 3px 0 10px;
            width:60%;
            // min-height: 50px;
            // border: 1px solid $silver;

            &>img {
                object-fit:cover;
                border: none;
                outline: none;
                // position: absolute;
                width: 100%;
                // height: 0;
            }
        }
        &>p{
            color: $slategray;
            font-size: 14px;
            margin: 15px 0;
        }

    }

}

.modal-wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 99;
    .modal-mask{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #656c85cc;
    }
    .modal-scroll-view{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        .modal{
            position: relative;
            top: 100px;
            width: 60vw;
            min-width: 350px;
            background-color: $darkgray;
            border-radius: 4px;
            margin: 0 auto 200px;
            box-sizing: border-box;
            .modal-title{
                display: flex;
                align-items: center;
                width: 100%;
                height: 60px;
                box-sizing: border-box;
                padding: 0 15px;
                // border-bottom: 1px solid var(--vp-c-divider);
                .m-title{
                    color: $white;
                }
                .m-tools{
                    display: flex;
                    flex: 1;
                    justify-content: flex-end;
                    align-items: center;
                    overflow: hidden;
                    .m-btn{
                        position: relative;
                        line-height: 32px;
                        font-size: 14px;
                        color: $black;
                        border-color: $black;
                        background-color: $slategray;
                        border-radius: 4px;
                        padding: 0 30px;
                        margin-left: 20px;
                        display: inline-block;
                        border: 1px solid transparent;
                        text-align: center;
                        white-space: nowrap;
                        transition: background-color .25s;
                        cursor: pointer;
                        @media (max-width: 700px) {
                            font-size: 12px;
                            padding: 0 20px;
                          }
                        &:hover{
                            background-color: $silver;
                        }
                    }
                    .prim{
                        color: $white;
                        border-color: $green;
                        background-color: $green;
                        transition: background-color .25s;
                        &:hover{
                            background-color: $darkgreen;
                        }
                    }
                    
                }
            }
            .modal-content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                // padding: var(--demo-spacing);
            }
        }
    }
    
}
.addflex{
    display: flex;
    flex-direction: column;
    &>p{
        color: $darkgray;
    }
}

.iduploading {
    display: flex;
    gap: 10px;
    // align-items: center;
    @media (max-width: 650px) {
        display: block;
      }
  
    .uploadbtn{
        margin: 3px 0 10px;
        height: 40px;
        position: relative;
        line-height: 38px;
        font-size: 14px;
        color: $green;
        background-color: $white;
        border-radius: 10px;
        padding: 0 20px;
        margin-bottom: 1em;
        display: inline-block;
        border: 1px solid $green;
        text-align: center;
        white-space: nowrap;
        transition: color .25s,border-color .25s,background-color .25s;
        cursor: pointer;
        &:hover{
            color: $green;
            background-color: $darkgreen;
            border: 1px solid $darkgreen;
        }
        &>span{
            font-family: 'jfopen';
            font-size: 1.1em;
            &>i{
                margin-right: 5px;
            }
        }
        &>input{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 0;
            cursor: pointer;
            opacity: 0;
        }
    }
    .pic-area {
        &-box {
            margin: 3px 0 10px;
            width:80%;
            // min-height: 50px;
            // border: 1px solid $silver;

            &>img {
                object-fit:cover;
                border: none;
                outline: none;
                // position: absolute;
                width: 100%;
                // height: 0;
            }
        }
        &>p{
            color: $slategray;
            font-size: 14px;
            margin: 25px 0 0;
            overflow: visible;
            white-space: normal;
            text-overflow: unset;
            word-wrap: break-word;
            @media (max-width: 650px) {
                margin: 5px 0;
              }
        }

    }

}

.textareaV{
    display: flex;
    flex-direction: column;
    textarea{
        width: 100%;
    }
}