.backend-account-overview{
    .body-sec{
        background-image: url();
    }
    .section_right{
        .row{
            justify-content:space-between;
            align-items: flex-end;
            .f-select{
                margin: 8px 0 0 0;
            }
        }
        .table-content{
            margin-top: 20px;
            .back-table-3 tr:first-child {
                background-color: $darkgreen;
            }
            .guard{
                justify-content: space-around;
                width: 95px;
                span{
                    font-size: 16px;
                }
            }
        }
    }

}
