.pt10{
    padding-top: 10px;
}

.bk-account-overview{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .justifycontent{
        align-items: flex-end;
    }

    .dropdown{
        display: flex;
        flex-direction: column;
    }

    .f-label{
        text-align: left;
        margin-left: 0px;
        width: 200px;
    }
    .btn-10-s{
        margin-bottom: 8px;
    }
    .guard{
        height: auto;
        width: auto;
        line-height: 22px;
        padding: 5px;
        justify-content: space-around;
        max-width:80px;
        i{
            font-size: 16px;
        }
        .bi-x{
            display: none;
        }
        span{
            font-size: 12px;
        }
    }
    td:nth-child(5){
        min-width: 260px;
        @media screen and (max-width: 1110px){
            min-width: 180px;
        }
    }
    td:nth-child(6),td:nth-child(7){
        text-align: left;
        width: 60px;
        .btn-icon{
            text-align: left;
        }
    }
}
