body {
  position: relative;
  z-index: -1;
}



.date-overview {
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: 1920px){
    justify-content: left;
  }
  
  @include breakpoint($grid-breakpoints, 'lg'){
    // justify-content: space-around;
  }


}





.date-overview {
  margin-bottom: 50px;
  border-radius: 5px;

  p {
    font-size: 20px;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $cyangreen;
;
  }

  .bk-datepicker {

    #datepicker {
      width: auto;
      margin-right: 20px;

    }

    .ui-widget-content {
      width: 300px;
      font-size: 12px;
      color: $gray;
      border-radius: 5px;
      border: 1px solid $darkgreen;

    }

    // daypicker的標題框

    .ui-datepicker-header {
      height: 30px;
      background-color: $darkgreen;
      color: $black;
      border: none;
      border-radius: 5px;
    }

    // daypicker的標題字
    .ui-datepicker-title {
      font-size: 16px;
      line-height: 30px;
      width: 100px;
      margin: 0 auto;
    }



    .ui-datepicker td a {
      width:40px;
      line-height: 30px;
      text-align: center;
      background: transparent;
      border: none;
      border-radius: 5px;
      font-size: 1.6em;
      font-family: "jfopen";
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
      background: $green;
      font-weight: normal;
      color: $white;
  }
  }

}


// 近期活動

.activity-list {

  font-size: 14px;
  color: $black;
  text-align: left;
  
  
  // height:50px;


  td{
    // border: 1px solid $black;
    line-height: 50px;
  }

  tr{
    // border: 1px solid $black;
    border-bottom: 1px solid $darkgreen;
    height: 50px;
    line-height: 50px;
  }

 

  .activity-label {
    width: 70px;

    .tag {
      line-height: 30px;
      font-size: 0.6rem;
      height: 30px;
      
    }
  }

  .activity-name{
    width: 25vw;
    line-height: 1.8;
    @media screen and (max-width: 1300px){
      width: 15vw;
    }

    @media screen and (max-width: 1200px){
      width: 10vw;
      
    }
  }

  .activity-num{
    width: 80px;
    @media screen and (max-width: 1150px){
     display: none;
    }
  }


  // --活動表格tr--

}




.admin-todolist {
  text-align: left;
  margin-bottom: 50px;

  p{
    font-size: 20px;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .btn-be-dash {
    width: 170px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    
    
  }
}

.member-account{
  p{
    font-size: 20px;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
  
  }
  
}

.account-dashboard{
  
  table{
    background-color: $white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;

  }

  tr{
    display: flex;
  }
  
  p{
    font-size: 20px;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  td{
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 250px;
    padding: 10px;
    margin:  20px;
    // border-right:1px solid $green;
  }

  td:last-child{
    border-right:none;
  }
  
  h1{
    font-size: 25px;
    color: $black;
    margin-bottom: 5px;
  }
  
  h2{
    font-size: 16px;
    color:$gray;
  }
  
  p{
    font-size: 12px;
    color: $green;
  }
}


  .nosupport{
    display: none;
    @media screen and (max-width: 992px){
      display: block;
    }
  }