.front-space{
    .title_space{
        padding-bottom: 35px;
    }
    .second_title{
        color: $green;
        overflow: visible;
        white-space: normal;
        text-overflow: clip;
        margin-bottom: 40px;
        @include breakpoint($grid-breakpoints, 'md') {
            padding: 0 30px; 
            margin-bottom: 10px;
        }
    }
    section:nth-child(1){
            .title_space{
                margin-top: 0px;
        }
    }
    section{
        .title_space{
            margin-top: 80px;
            
        }
        .second_title{
            color: $green;
            overflow: visible;
            white-space: normal;
            text-overflow: clip;
            @include breakpoint($grid-breakpoints, 'md') {
                padding: 0 30px; 
                   }
        }
    }
    .smart-bar{
        margin: 20px auto 40px;
        @include breakpoint($grid-breakpoints, 'md') {
         display: none; 
            }
        .btn-member-block{
            margin: 0 20px;
        }
    }
    .title_space{
        @include breakpoint($grid-breakpoints, 'md') {
            padding: 0 0 30px;
               }
    }
 
    .swiper-slide{
        padding-bottom:60px;
        .space_pic{ 
            @include breakpoint($grid-breakpoints, 'md') {
                min-width: 250px;
               }
        }
       
    }

    .swiper-btn{
        // margin: 0 5px;
        width: 55px;
        display: inline-flex;
        position: relative;    

        bottom: 25px;
        
        .swiper-button-prev {
            left: -40px;
            right: auto;
        }
        .swiper-button-next {
            left: 40px;
            right: auto;
        }
        .swiper-button-prev:after,
        .swiper-button-next:after {
            content: "";
        }
    }
    .space-list{
   
        @media screen and (max-width: 800px){
             width: 95%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
           }
    } 

    .space-detail{
        text-align: left;
        margin: 25px auto;
        h3{
            margin-bottom: 10px;
            .bi-dot{
                color: $green;      
            }
        }
        ul{
            margin-bottom: 80px;
        }
        li{
            font-size: 1.1em;
            // padding-left: 30px;
            line-height: 1.6;
            @include breakpoint($grid-breakpoints, 'sm') {
                padding-left: 0px;
            }
            .space-map{
                margin: 20px;
                max-width: 350px;
                @include breakpoint($grid-breakpoints, 'md') {
                    margin: 20px;
                }     
                @include breakpoint($grid-breakpoints, 'sm') {
                    margin: 0 auto;
                }
            }
        }
    }

    /*日期時間選擇*/

    .datetime{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        gap: 30px;
        @media screen and (max-width: 850px){
            flex-direction: column;
            gap: 0px;
        }
        
    }

    #datepicker{
        min-height: 400px;
        width: 100%;
        @media screen and (max-width: 850px){
            margin: 0 auto;
        }
        // @include breakpoint($grid-breakpoints, 'sm') {
        //     width: 380px;
        // }
    }
        
    .ui-widget.ui-widget-content {
        border: none;
    }
    
    .ui-widget-content {
        width: 100%;
        min-height: 400px;
        background-color: transparent;
        border: none;
        // @include breakpoint($grid-breakpoints, 'sm') {
        //     width: 380px;
        // }
    }
    
    .ui-datepicker .ui-datepicker-header{
        height:60px;
        background-color: $black;
        border: none;
        border-radius: 10px;
        // border-bottom: 1px solid rgb(56, 56, 56);
        /* border: 1px solid #b91f1f; */
    }
    
    .ui-datepicker .ui-datepicker-title {
        /* width: 200px; */
        font-size: 1.6em;
        font-family: "jfopen";
        line-height: 50px;
        color: $white;
        font-weight: 100;
        @include breakpoint($grid-breakpoints, 'sm') {
            font-size: 1.3em;
        }

    
    }
    .ui-datepicker .ui-datepicker-next{
        width: 50px;
        height: 50px;
        right: 100px;
        top: 0;
        @include breakpoint($grid-breakpoints, 'sm') {
            right: 70px;
        }
    }
        
    
    .ui-datepicker .ui-datepicker-prev{
        width: 50px;
        height: 50px;
        left: 100px;
        top: 0;
        @include breakpoint($grid-breakpoints, 'sm') {
            left: 70px;
        }
    }
    
    .ui-datepicker .ui-datepicker-prev-hover{
        background: radial-gradient(circle, rgba(66, 106, 99, 0) 0%, rgba(255,255,255,0) 66%);
        border: none;
        cursor: pointer;
    }
    
    .ui-datepicker .ui-datepicker-next-hover{
        background: radial-gradient(circle, rgba(66, 106, 99, 0) 0%, rgba(255,255,255,0) 66%);
        border: none;
        cursor: pointer;
    }
    
    .ui-widget-content .ui-icon-circle-triangle-w{
        background-image: url(../img/angle-small-left.png);
        z-index: 2;
        background-position: 0px 0px;
        height: 32px;
        width: 32px;
        
        
    }
    
    .ui-widget-content .ui-icon-circle-triangle-e{
        background-image: url(../img/angle-small-right.png);
        z-index: 2;
        background-position: 0px 0px;
        height: 32px;
        width: 32px;
    }
    
    .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
        top: 40%;
        left: 40%;
    }
    
    
    .ui-datepicker th{
        padding: 0;
        color:$black;
        font-size:  1.5em;
        font-family: "jfopen";
        /* border: 1px solid #b91f1f; */
        font-weight: 100;
        height: 40px;
        line-height: 40px;
        @include breakpoint($grid-breakpoints, 'sm') {
            font-size: 1.3em;
        }
    }
    
    .ui-datepicker td{
        height: 40px;
        width: calc(100%/7);
        padding: 0;
        /* background-image: linear-gradient(to top left,#426a639c,#000000); */
        /* background-color: #dd9a9a; */
        border-radius: 10px;
    
    }
    
    .ui-datepicker td a {
        line-height: 40px;
        text-align: center;
        background: transparent;
        border: none;
        font-size: 1.6em;
        font-family: "jfopen";
    
        
    }
    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
        background: $silver;
        color: $black;
    }
    
    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
        background: $green;
        font-weight: normal;
        color: $white;
    }
    
    .ui-state-default, .ui-widget-content .ui-state-default{
        border: none;
        border-radius: 10px;
        font-weight: normal;
    }
    
   
    
    .selected{
        &>h4{
            margin: 20px 0;
            @media screen and (max-width: 850px){
            margin: 20px auto;
            }
        }
    }

    
    .timepick{
        width:200px;
        height:300px;
        display: flex;
        flex-direction: column;
        overflow:auto; 
        background:rgb(255, 255, 255);
        @media screen and (max-width: 850px){
            flex-direction:row;
            width: 95%;
            height:70px;
            margin: 0 auto;
            overflow-x: auto;
        }

        .timeslot{
            width: 180px;
            padding: 10px 0;
            margin: 5px auto;
            color: $black;
            line-height: 1;
            @media screen and (max-width: 850px){
                flex-shrink: 0;
                width: 150px;
                margin: 5px;
            }
        }
        .active{
            background-color: $green;
            color: $white;
        }
            
    }
    
    

    .reserve-time{
        width: 100%;
        // max-width: 1140px;
        margin: 10px auto;
        text-align: left;
        // @include breakpoint($grid-breakpoints, 'sm') {
        //     width: 400px;
        //     }
            h4{
                margin: 10px 0;
                color: $green;
            }
        span{
            font-size: 1.3em;
            vertical-align: bottom;
        }
        // button{
        //     margin-left: 20px;
        //         @include breakpoint($grid-breakpoints, 'sm') {
        //              width: 70px;
        //              height: 30px;
        //              font-size: 1em;
        //              padding: 0 10px;
        //     }
        // }
    }
    .green-table{
        width: 100%;
        text-align: left;
        // @include breakpoint($grid-breakpoints, 'sm') {
        //     width: 380px;
        // }
        thead{
            tr{
                th{
                    background-color: $white;
                }
            }
        }
        tbody{
            tr{
                td{
                    color: $black;
                }
            }
        }
    
    }
    .confirm-btn{
        margin:50px 0;
        button{
            margin:15px 10px;
        }
        a{
            color:$white;
        }
    }

    &-confirm{
        &>img{
            width: 250px;
            margin: 0 auto 20px;
        }
        &>h6{
            color: $black;
            white-space: normal;
            text-overflow:unset;

        }
    }
    .popup{
        margin-top: 40px;
        .popup_l{
            h3{
                white-space: normal;
                text-overflow:unset;
            }
            h4{
                white-space: normal;
                text-overflow:unset;
            }
            h5{
                white-space: normal;
                text-overflow:unset;
            }
            .popup_l_t {
                margin-bottom: 20px;
            }
            @media screen and (max-width: 600px){
               width: 90%;
                }
        }
    }
}