.home {
  padding: 50px 20px 70px 20px;
  section {
    margin-top: 10%;
    &:first-child {
      margin-top: 0px;
    }
    @include breakpoint($grid-breakpoints, "md") {
      margin-top: 30%;
    }
  }

  /* 第一屏 */
  /* banner */

  .home-cover {
    .home_banner {
      @include breakpoint($grid-breakpoints, "md") {
        padding-top: 45%;
      }
      .villagename {
        position: absolute;
        left: 0;
        top: 15%;

        color: $white;
        text-align: center;

        padding: 2% 2% 2% 3.5%;

        background-color: $green;
        border-radius: 0px 5px 5px 0px;

        @include breakpoint($grid-breakpoints, "md") {
          border-radius: 0px 5% 5% 0px;
        }

        h1 {
          font-size: 2rem;
          @include breakpoint($grid-breakpoints, "md") {
            font-size: 1rem;
          }
        }
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  /* 第二屏 */
  /* 最新消息 */
  .home-news {
    table {
      width: 100%;
      text-align: left;
      border-collapse: collapse;
      tr {
        td {
          font-size: 30px;
          padding: 12px 0;
          @include breakpoint($grid-breakpoints, "sm") {
            font-size: 20px;
          }
          .tag {
            margin-right: 20px;
            font-size: 24px;
            width: auto;
            min-width: 140px;
            @include breakpoint($grid-breakpoints, "sm") {
              height: auto;
              line-height: 1.8;
              font-size: 16px;
              margin-right: 0px;
              margin-bottom: 10px;
              min-width: 85px;
            }
          }
          span {
            display: none;
            @include breakpoint($grid-breakpoints, "sm") {
              display: contents;
              font-size: 16px;
              color: $gray;
            }
          }
          a {
            color: $black;
            @include breakpoint($grid-breakpoints, "sm") {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              white-space: normal;
              min-width: 250px;
            }
          }
          a:hover {
            color: $green;
          }
        }
      }
      thead {
        border-bottom: 1px solid $silver;
        @include breakpoint($grid-breakpoints, "sm") {
          display: none;
        }
        th {
          font-size: 24px;
          padding-bottom: 25px;
          @include breakpoint($grid-breakpoints, "sm") {
            font-size: 20px;
          }
        }
      }
      td:first-child {
        max-width: 70vw;
        display: flex;
        align-items: center;

        @include breakpoint($grid-breakpoints, "sm") {
          display: flex;
          align-items: flex-start;
          flex-direction: row;
          flex-wrap: wrap;
          max-width: 90vw;
          min-height: 90px;
          line-height: 1.2;
          justify-content: space-between;
        }
      }

      th:last-child,
      td:last-child {
        text-align: right;
      }
      td:last-child {
        @include breakpoint($grid-breakpoints, "sm") {
          font-size: 18px;
          display: none;
        }
      }
    }
  }

  /* Swiper 輪播 */
  .swiper-button {
    width: 50px;
    display: inline-flex;
    position: relative;
    left: 0;
    right: 0;
    top: 50px;
  }
  .swiper-button-prev {
    left: -30px;
    right: auto;
  }
  .swiper-button-next {
    left: 30px;
    right: auto;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    content: "";
  }

  /* 第三屏 */
  /* 活動輪播 */
  /* 隨機抓 9 個 */
  .home-event {
    margin-bottom: 20%;
    @media screen and (max-width: 1100px) {
      margin-bottom: 50%;
    }
    .card {
    }
  }

  /* 第四屏 */
  /* 討論區 */
  .home-chat {
  }

  /* 第五屏 */
  /* 團購輪播 */
  .home-product {
    margin-bottom: 20%;
    @media screen and (max-width: 1100px) {
      margin-bottom: 50%;
    }
  }

  /* 第六屏 */
  /* 智慧里民 */
  .home-smartChief {
    section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20%;
      @media screen and (max-width: 1100px) {
        flex-direction: column;
        margin-top: 0%;
      }
      .left,
      .right {
        flex-grow: 1;
        padding: 0 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 1100px) {
          order: 1;
          z-index: 2;
        }
        div {
          position: relative;
          a {
            width: 267px;
            line-height: 113px;
            font-size: 32px;
            &:hover {
              background-color: lighten($green, 12%);
            }
            @media screen and (max-width: 1100px) {
              width: 250px;
              line-height: 90px;
              font-size: 24px;
            }
          }
        }
        .unopened:hover{
          background-color: lighten($lightgray, 0%);
        }
      }
      .left {
        div {
          &:before {
            position: absolute;
            content: " ";
            width: 20px;
            height: 20px;
            border-radius: 50%;
            left: 96%;
            top: 43%;
            display: block;
            background: $springgreen;
            @media screen and (max-width: 1100px) {
              display: none;
            }
          }
          &:after {
            position: absolute;
            content: " ";
            width: calc(179px + 12vw);
            height: 1px;
            right: -232px;
            top: 50%;
            display: block;
            background: $springgreen;
            z-index: -1;
            @media screen and (max-width: 1100px) {
              display: none;
            }
          }

          // &:after {
          //   position: absolute;
          //   content: " ";
          //   width: 20px;
          //   height: 20px;
          //   border-radius: 50%;
          //   left: 182%;
          //   top: 43%;
          //   display: block;
          //   background: $springgreen;
          //   @media screen and (max-width: 1439px) {
          //     left: calc(100% + 218px);
          //     top: 43%;
          //   }
          // }
          &:nth-child(2) {
            margin-right: auto;
          }
        }
      }
      .right {
        div {
          &:before {
            position: absolute;
            content: " ";
            width: 20px;
            height: 20px;
            border-radius: 50%;
            right: 96%;
            top: 43%;
            display: block;
            background: $springgreen;
            @media screen and (max-width: 1100px) {
              display: none;
            }
          }
          &:after {
            position: absolute;
            content: " ";
            width: calc(179px + 12vw);
            height: 1px;
            left: -232px;
            top: 50%;
            display: block;
            background: $springgreen;
            z-index: -1;
            @media screen and (max-width: 1100px) {
              display: none;
            }
          }
          &:nth-child(2) {
            margin-left: auto;
          }
        }
      }
      .btn-s {
        width: 267px;
        height: 113px;
        border-radius: 100px;
        margin: 5% 0;
        @media screen and (max-width: 1100px) {
          width: 250px;
          height: 90px;
        }
      }
      .unopened{
          background-color: $lightgray;
          &:before,&:after{
            background: $lightgray;
          }
      }

              // div {
        //   $bg-color: green;
        
        //   background-color: $bg-color;
        
        //   @if $bg-color == green {
        //     &:after {
        //       content: "";
        //       display: block;
        //       width: 10px;
        //       height: 10px;
        //       background-color: $bg-color;
        //     }
        //   }
        // }

      /* 圓圈圈 */
      .galaxy {
        position: relative;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;

        @media screen and (max-width: 1100px) {
          width: 100%;
          height: 328px;
          overflow: hidden;

          /* 畫直線 */
          &::after {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: -602px;
            width: 2px;
            height: 600px;
            background-color: $springgreen;
            z-index: -2;
          }
        }

        /* 外圍圓圈 */
        .orbit {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 354px;
          height: 354px;
          border-radius: 50%;
          border: 2px $springgreen solid;
          padding: 34px;
          background: $white;
          z-index: 1;
          animation: planet-rotate-1 infinite 15s linear;

          @media screen and (max-width: 1100px) {
            width: 300px;
            height: 300px;
          }

          .planet {
            position: relative;
            top: -178px;
            left: 0;
            width: 20px;
            height: 20px;
            background-color: $springgreen;
            border-radius: 50%;
            margin-top: 4px;
            margin-left: 4px;
            border: 0;
            @media screen and (max-width: 1100px) {
              top: -150px;
            }
          }
        }

        /* 中心圓圈 */
        .smart_center {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto auto;

          width: 278px;
          height: 278px;
          line-height: 278px;
          font-size: 40px;
          border-radius: 50%;
          color: $white;
          z-index: 1;

          @media screen and (max-width: 1100px) {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto auto;

            width: 200px;
            height: 200px;
            line-height: 200px;
            font-size: 26px;
          }

          /* 背景漸層 */
          background: linear-gradient(-45deg, $cyan, $green, $cyan);
          background-size: 400% 400%;

          /* 動畫 gradient-circle*/
          animation-name: gradient-circle; /* 套用的 keyframe */
          animation-duration: 8s; /* 動畫持續時間 */
          animation-iteration-count: infinite; /* 動畫播放次數 */
          animation-timing-function: ease;
          animation-timing-function: linear; /* 影片加速速率 */
        }
      }

      /* 動畫 gradient-circle*/
      @keyframes gradient-circle {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      /* 動畫 球公轉*/
      @keyframes planet-rotate-1 {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
