.news_info {
  color: $black;
  text-align: left;
  // width: 50rem;
  padding: 25px 75px;



  @include breakpoint($grid-breakpoints, 'lg') {
    width: 50rem;
  }

  @include breakpoint($grid-breakpoints, 'md') {
    margin: 0 auto;
    width: auto;
    padding: 75px 20px;

  }

  @include breakpoint($grid-breakpoints, 'sm') {
    width: auto;
    margin: 0 auto;
    padding: 75px 20px;

  }

  .btn-prepage {
    // margin-top: 70px;
    

    @include breakpoint($grid-breakpoints, 'md') {
      // margin-top: 30px;
      margin-left: 30px;
    }
    @include breakpoint($grid-breakpoints, 'sm') {
      margin-left: 0px;
    }
  }

}

.news_info_topic {
  margin-bottom: 50px;


  @include breakpoint($grid-breakpoints, 'md') {
    margin: 0 30px;
  }

  @include breakpoint($grid-breakpoints, 'sm') {
    margin: 0 5px;
  }

  h1 {
    margin: 0 auto 40px;
    font-size: 2.2rem;
    overflow: unset;
    white-space: normal;
    line-height: 1.5;

    @include breakpoint($grid-breakpoints, 'lg') {
      font-size: 2rem;
    }

    @include breakpoint($grid-breakpoints, 'md') {
      // font-size: 2rem;
      // width: auto;
      // margin-left: 20px;

    }

    @include breakpoint($grid-breakpoints, 'sm') {
      font-size: 1.8em;
      margin-bottom: 0;


    }


    // @media screen and (max-width: 360px){
    //   font-size: 25px;
    //   line-height: 1.5;
    //   margin-top: 30px;
    //   overflow:unset;
    //   white-space:normal;
    //   // text-overflow:initial;
    // }


  }

  .add_inf {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;

    @include breakpoint($grid-breakpoints, 'lg') {}

    @include breakpoint($grid-breakpoints, 'md') {

    }

    @include breakpoint($grid-breakpoints, 'sm') {
      font-size: 16px;
    }




    .userbtn {
      width: 60px;
      margin-right: 10px;
      @include breakpoint($grid-breakpoints, 'sm') {
        width: 40px;
      }

    }

    .user_pic{
      width: 50px;
      height: 50px;
    }

    h4 {
      margin: 0 10px;
      color: $gray;
      flex-wrap: wrap;

      @include breakpoint($grid-breakpoints, 'lg') {
        margin: 20px 10px;

      }

      @include breakpoint($grid-breakpoints, 'sm') {
        font-size: 20px;
        // flex-wrap: wrap;
        overflow: unset;
        white-space: normal;
      }


    }
  }

}

.news-article {
  overflow: visible;
  white-space: normal;
  text-overflow: unset;
  word-wrap: break-word;
  

  @include breakpoint($grid-breakpoints, 'md') {
    margin: 30px 30px;
  }
  @include breakpoint($grid-breakpoints, 'sm') {
   margin: 30px 10px;
    
  }

  .news-img {
    margin: 30px auto;
    width: 95%;


    @include breakpoint($grid-breakpoints, 'sm') {
      width: 50%
      
    }

  }


  .news-article-content {
 
    line-height: 2;
    font-size: 22px;
    margin-top: 30px;

    overflow: visible;
    white-space: normal;
    text-overflow: unset;
    word-wrap: break-word;
    

    p{
      overflow: visible;
      white-space: normal;
      text-overflow: unset;
      word-wrap: break-word;
      
    }
    span{
      overflow: visible;
      white-space: normal;
      text-overflow: unset;
      word-wrap: break-word;
    }

    @include breakpoint($grid-breakpoints, 'sm') {
      font-size: 18px;

    }
  }
}

.news-btn-section {
  width: 300px;
  margin: 50px auto ;
  padding-bottom: 50px;
}