.noSupport {
  max-height: 100vh;
  display: flex;
  justify-content: center;

  @include breakpoint($grid-breakpoints, "md") {
    max-height: 100%;
    margin-top: -15px;
  }
  a {
    overflow: visible;
    color: $black;
    &:hover {
      color: $green;
    }
    @include breakpoint($grid-breakpoints, "md") {
      margin-bottom: 105px;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 385px;
      height: 370px;
      padding: 20px;
      background-image: url("/src/assets/img/notsupport.svg");

      background-size: cover;
      background-position: 0% 0%;
      background-repeat: no-repeat;
      @include breakpoint($grid-breakpoints, "sm") {
        width: 95vw;
        height: 380px;
        background-size: cover;
      }

      .LiIcon {
        width: 36px;
        height: auto;

        @include breakpoint($grid-breakpoints, "sm") {
            width: 20px;
            height: auto;
        }
      }

      h1 {
        font-size: 26px;
        text-overflow: clip;
        margin: 20px 0;
        @include breakpoint($grid-breakpoints, "sm") {
            font-size: 20px;
        }
      }

      .cat {
        width: 140px;
        height: 150px;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }
  }
}
