.privacy{
        background: $lightcyan;
        border-radius: 20px;
        margin: 5px;
        text-align: left;
        padding: 50px 100px;
        @media screen and (max-width: 1400px) {
            padding: 20px;
            margin: 2px;
        }
        h1{
            text-align: center;
        }
        div{
            width: 95%;
            margin: 0 auto;
            background: $white;
            padding: 20px;
            border-radius: 5px;
        }
        h2{
            margin: 50px 0 20px 0;
            border-left: 5px solid $green;
            padding-left: 20px;
            line-height: 28px;
        }
        li{
            padding-left: 25px;
            line-height: 1.5;
            word-wrap:break-word;
            white-space:pre-wrap;
        }
        a{
            display: inline;
            color: $black;
            &:hover{
                color: $green;
            }
        }
        ol{
            list-style-type: decimal;
            list-style-position:inside
        }
    }