
// ------討論區留言板的layout----

// 1440px

.chat-commit {
    display:flex;
    flex-direction: column;
    max-width: 200rem;
    min-width: 300px;
    margin-bottom: 15px;
    @include breakpoint($grid-breakpoints, 'md') {
      margin: 30px 20px;
    }
    @include breakpoint($grid-breakpoints, 'sm') {
      margin: 30px 10px;
    }
  
    .chat-commit-title{
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      
  
  
      .user_pic {
        width: 40px;
        height: 40px;
      }
      
      .commit-user{
        color:$black;
        margin: auto 20px;
      }
  
      .commit-date{
        color:$gray;
        font-size: 14px;
      }
    }
  
  
    .chat-commit-content{
      text-align: left;
      line-height: 1.5;
      color:$gray;
      font-size: 1.3em;
      @include breakpoint($grid-breakpoints, 'sm') {
        font-size: 1.2em;

      }
    }
    
  }
  
  //960px
  
  