.backend_background{
  background-image: url("../img/backend_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.backend {
  #app{
    background-image: url("../img/backend_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
    background-image: url("../img/backend_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

  .tooltip:hover:after {
    content: "帳戶專區";
  }

  main {
    .account-border {
      margin: 70px 0;
      max-width: 1440px;

      border-radius: 30px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      background-color: $background-white;

      .account {
        padding: 6vw 4vw;
        display: flex;
        .account-menu-pc {
          padding-right: 4vw;
          border-right: 2px solid $green;
          h1 {}
          .user_pic {
            margin: 30px 10px;
          }
          @media screen and (max-width: 1400px) {
            display: none;
          }
          ul{
            li{
                margin-bottom: 25px;

                a{
                    width: 260px;
                    line-height: 55px;
                    flex-grow: 0;
    
                    opacity: 0.6;
                    border-radius: 8px;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
                    background-color: $ghostwhite;

                    font-size: 24px;
                    color: $gray;
                }
                a:hover, a:active{
                    color: $green;
                    background: $white;
                }
            }
          }
        }
        .account-content{
            padding-left: 2vw;
            width: 100%;
            @media screen and (max-width: 1400px) {
                margin-left: 0px;
              }
            h1{
                text-align: center;
            }
        }
      }
    }
  }
}
